<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/puppy">
      <label text="name"> Puppy Name </label>

    </form>
  </body>
</html>
